%p Question
%p= link_to "Edit question", edit_question_path(@question), :class => "btn btn-xs btn-warning" if can?(:crud, @question)
%p= link_to "Delete question", question_path(@question), :method => :delete, :class => "btn btn-xs btn-destroy" if can?(:crud, @question)
.col-xs-12{:id => "question_#{@question.id}"}
  - cache @question do
    %p.total_votes= @question.total_votes
  %p.votes
    = render partial: "shared/votes", locals: { voteable: @question }

  %p= @question.title
  %p= @question.body
  %hr/
  #subscribe
    - if can?(:subscribe, @question)
      = link_to "Подписаться", subscribe_question_path(@question), method: :post, remote: true
    - else
      %p Вы подписаны на данный вопрос
  %hr/
  %p Attachments
  %ul
    - @question.attachments.each do |attachment|
      %li{id: "attachment_#{attachment.id}"}
        %p= link_to attachment.file.identifier, attachment.file.url
        %p= link_to "Delete attachment", polymorphic_path([@question, attachment]),remote: true, :method => :delete, class: "btn btn-sm btn-danger" if can?(:manage, attachment)
  = render partial: "comments/commentable", locals: { commentable: @question }
%hr/
Answers:
.col-xs-12.answers
  = render "answers/answers"
- cache cache_key_form("create_answer", @question, current_user) do
  - if can?(:create, Answer)
    %hr/
    New answer
    #answer-form
      = render "answers/form"


= subscribe_to "/questions/#{@question.id}/answers"