- @question.answers.each do |answer|
  .answer{:id => "answer_#{answer.id}"}
    - cache answer do
      %p.total_votes= answer.total_votes
    %p.votes
      = render partial: "shared/votes", locals: { voteable: answer }
    %p
      - if can?(:best, answer)
        = link_to "Выбрать лучшим", best_answer_path(answer), remote: true, method: :post
      - elsif can?(:cancel_best, answer)
        = link_to "Отменить лучший ответ", cancel_best_answer_path(answer), remote: true, method: :post
      - elsif answer.best == true
        Лучший ответ
    %p= answer.body
    %p Attachments
    %ul.attachments
      - answer.attachments.each do |attachment|
        %li{id: "attachment_#{attachment.id}"}
          %p= link_to attachment.file.identifier, attachment.file.url
          %p= link_to "Delete attachment", attachment_path(attachment),remote: true, :method => :delete, class: "btn btn-sm btn-danger" if can?(:delete, attachment)

    .controls
    %p= link_to "Edit answer", edit_answer_path(answer), :class => "btn btn-xs btn-warning", remote: true if can?(:crud, answer)
    %p= link_to "Delete answer", answer_path(answer), remote: true, :method => :delete, :class => "btn btn-xs btn-danger" if can?(:crud, answer)
    %p.edit-answer
    = render partial: "comments/commentable", locals: { commentable: answer }
