.answer{:id => "answer_#{answer.id}"}
  %p.total_votes= answer.total_votes
  %p.votes
    - if answer_update?
      - if user_signed_in? && answer.user != current_user
        - if current_user.vote_for(answer)
          = link_to "Cancel", cancel_vote_answer_path(answer), method: :delete, remote: true, class: 'vote-cancel', data: { type: :json }
        - else
          = link_to "Like", like_answer_path(answer), method: :post, remote: true, data: { type: :json }, class: "vote"
          = link_to "Dislike", dislike_answer_path(answer), method: :post, remote: true, data: { type: :json }, class: "vote"
  %p.best-control
    - if answer_update?
      - if answer.best == false && @question.user == current_user
        = link_to "Выбрать лучшим", best_answer_path(answer), remote: true, method: :post
      - elsif answer.best == true && @question.user == current_user
        = link_to "Отменить лучший ответ", cancel_best_answer_path(answer), remote: true, method: :post
      - elsif answer.best == true
        Лучший ответ
  %p= answer.body
  %p Attachments
  %ul.attachments
    - answer.attachments.each do |attachment|
      %li{id: "attachment_#{attachment.id}"}
        %p= link_to attachment.file.identifier, attachment.file.url
        %p= link_to "Delete attachment", attachment_path(attachment),remote: true, :method => :delete, class: "btn btn-sm btn-danger" if user_signed_in? && answer.user == current_user

  .controls
    %p= link_to "Edit answer", edit_answer_path(answer), :class => "btn btn-xs btn-warning", remote: true if answer.user == current_user
    %p= link_to "Delete answer", answer_path(answer), remote: true, :method => :delete, :class => "btn btn-xs btn-danger" if answer.user == current_user
  %p.edit-answer
  = render partial: "comments/commentable", locals: { commentable: answer }