= form_for [@question, @question.answers.build], remote: true do |f|
  .answer-errors
  = f.label  :body
  = f.text_area :body
  %p Attachments
  #attachmetns
    = f.fields_for  :attachments, @question.answers.build do |a|
      = render partial: 'questions/attachment_fields', locals: {f: a}
      %hr/
      %p= link_to_add_association 'Еще файл', f, :attachments, class: "btn btn-sm btn-success"
  = f.submit "Save answer"